body{
	background-color: lightgoldenrodyellow;
}

h1{
	font-size: 30px;
	color: #16a0db;
}
h2{
	font-size: 20px;
	color: #fbb034;
}
.big{
	font-size: 60px;
}
.caps{
	text-transform: uppercase;
}
.big.caps{
	color: #b1d353;
}
h1 span{
	color: #b1d353;
}